body{
   margin:1em auto;
   max-width:40em;
   padding:0 .62em;
   font:1.2em/1.62 sans-serif;
}
h1,h2,h3 {
   line-height:1.2;
}
@media print{
   body{
      max-width:none
   }
}
table {
   border-collapse: collapse;
   border: 2px dashed #333;
}

td, th {
   border: 2px dotted #999;
   padding: 0.5rem;
   text-align: left;
}
th, tr:nth-child(even) {
  background: #eee;
}
code, pre, .math {
  background: #eee;
  padding:.3rem;
  overflow-x: auto;
}
.math,.math em {
   font-style:normal;
}
