{% extends 'base.html.twig' %}
{% block title %}
	hazard roll
{% endblock %}
{% block body %}
<h1>Hazard Die Roller</h1>
{% if table is defined and table is not empty %}
<p>Table requested: {{ table }}</p>
{% endif %}
<p>Hazard die rolls a: {{ hazard.roll }}</p>
{{ hazard.body|raw }}
{% endblock %}
