{% extends 'base.html.twig' %}
{% block body %}
{% apply markdown_to_html %}
# Adventure Helper

A helper webapp for tabletop RPGs & adventure games.

Currently, a simple character generator for old-school games (circa 1974).

## Features

 * Creates characters suitable for 1974-era and other games.
 * Random character names & background information.
 * Random equipment.
 * Permalinks to "save" your character.
 * Several display styles.
 * Markdown mode (for copy-paste to somewhere else).
 * [Hazard roller]({{ path('hazard')}})

## Generate Character

  * [1974-type Character]({{ path('generate_character')}})
  * [Wittermixe Character]({{ path('generate_character',{game: 'wittermixe'})}})

### Hints & Tips

  * At the top of the character generator page, you'll find links to generate a new character, or permalink the current character, with choices for output style.
  * Add `?name=Character Name` to the end of any URL, and you should be able to get a character with the chosen name.

### Behind-the-Scenes

  * So far all generators use 3d6 down the line for ability scores.
  * The rules used to generate the 1974 characters are not the original rules, but those of a reasonably-accurate retro-clone (which should explain any discrepancies).
  * Character names & backgrounds are drawn from my own campaign and may of course be inappopriate for yours -- replace as necessary!
  * Equipment generator aims for flavorfulness and has no relation to the original rules for how much coin you get and what you can spend it on. If you want something more rational, considering [OD&D Equipment from Necropraxis](http://www.necropraxis.com/2012/07/20/odd-equipment/)!

{% endapply %}
{% endblock %}
