[Home]({{ path('home') }})  
[New Character]({{ path('generate_character', {game: char.game}) }}) ([Style: LBB]({{ path('generate_character', {game: char.game, output: 'lbb'}) }}), [Style: Ryth]({{ path('generate_character', {game: char.game, output: 'ryth'}) }}), [Markdown]({{ path('generate_character', {game: char.game, output: 'markdown'}) }}))  
[Permalink]({{ path('load_character') }}?{{ url|raw }}) ([Style: LBB]({{ path('load_character', {output: 'lbb'}) }}?{{ url|raw }}), [Style: Ryth]({{ path('load_character', {output: 'ryth'}) }}?{{ url|raw }}), [Markdown]({{ path('load_character', {output: 'markdown'}) }}?{{ url|raw }}))

----
