<table>
<tr>
<td>Name: {% if char.name != 'none' %}<em>{{ char.name }}</em>{% endif %}</td>
<td></td>
<td>Class: {% if char.trait is not empty %}<em>{{ char.trait }}</em>{% endif %}</td>
</tr>
</table>

Strength {{ char.abilities.str.score }}{{ char.abilities.str.disp }}, Dexterity {{ char.abilities.dex.score }}{{ char.abilities.dex.disp }}, Constitution {{ char.abilities.con.score }}{{ char.abilities.con.disp }}, Intelligence {{ char.abilities.int.score }}{{ char.abilities.int.disp }}, Wisdom {{ char.abilities.wis.score }}{{ char.abilities.wis.disp }}, Charisma {{ char.abilities.cha.score }}{{ char.abilities.cha.disp }}.

HD: {{ char.HD }} ({{ char.hp }} hp)

Background: *{{ char.bond }}. {{ char.bg }}.*

Equipment:

{% for item in char.equipment %}
  * {{ item }}
{% endfor %}