{% if char.name != 'none' %}**{{ char.name }}**{% endif %}{% if char.trait is defined and char.trait is not empty %} -- *{{ char.trait }}*{% endif %}  
S {{ char.abilities.str.score }}{{ char.abilities.str.disp }}, D {{ char.abilities.dex.score }}{{ char.abilities.dex.disp }}, C {{ char.abilities.con.score }}{{ char.abilities.con.disp }}, I {{ char.abilities.int.score }}{{ char.abilities.int.disp }}, W {{ char.abilities.wis.score }}{{ char.abilities.wis.disp }}, Ch {{ char.abilities.cha.score }}{{ char.abilities.cha.disp }}. HD: {{ char.HD }}, {{ char.hp }}hp. AC: {{ char.AC }}.  
*{{ char.bond }}. {{ char.bg }}.*  
{{ char.equipmentOneLine }}