{% if char.name != 'none' %}**{{ char.name }}**{% endif %}{% if char.trait is defined and char.trait is not empty %}  
*{{ char.trait }}*{% endif %}  

Strength {{ char.abilities.str.score }}{{ char.abilities.str.disp }}  
Dexterity {{ char.abilities.dex.score }}{{ char.abilities.dex.disp }}  
Constitution {{ char.abilities.con.score }}{{ char.abilities.con.disp }}  
Intelligence {{ char.abilities.int.score }}{{ char.abilities.int.disp }}  
Wisdom {{ char.abilities.wis.score }}{{ char.abilities.wis.disp }}  
Charisma {{ char.abilities.cha.score }}{{ char.abilities.cha.disp }}

HD: {{ char.HD }} ({{ char.hp }} hp){% if char.AC is defined and char.AC is not empty %}  
AC: {{ char.AC }}  {% endif %}
  
{% if char.languagesOneLine is defined and char.languagesOneLine is not empty %}
Languages: {{ char.languagesOneLine }}  
{% endif %}
Background: *{{ char.bond }}. {{ char.bg }}.*

Equipment:

{% for item in char.equipment %}
  * {{ item }}
{% endfor %}