{% extends 'generate/character.base.html.twig' %}
{% block title %}
	character generator
{% endblock %}
{% block full %}
<pre>
{% include "generate/_full_character.markdown.twig" %}
</pre>
{% endblock %}
{% block condensed %}

Condensed:

<pre>
{% include "generate/_condensed_character.markdown.twig" %}
</pre>
{% endblock %}
