{% extends 'generate/character.base.html.twig' %}
{% block title %}
	character generator
{% endblock %}
{% block stylesheets %}
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/normalize.css@8.0.0/normalize.min.css">
	<style>
		@font-face {
			font-family: 'TT2020';
			src: url("{{ asset('fonts/TT2020StyleE-Regular.woff2') }}") format("woff");
		}
		body {
			margin: 1em auto;
			max-width: 35em;
			padding: 0 0.62em;
			font-family: 'TT2020';
			font-size: 1.2em;
		}
		em {
			text-decoration-line: underline;
			font-style: normal;
		}
		strong {
			text-decoration: underline;
			text-transform: uppercase;
			font-weight: normal;
		}
		table {
			border-collapse: collapse;
			width: 100%;
			margin: 0 auto;
		}
	</style>
{% endblock %}
{% block full %}

	<p>
		<strong>Player Record</strong>
	</p>
	<table>
		<tr>
			<td>Character Name:
				{% if char.name != 'none' %}
					<em>{{ char.name }}</em>
				{% endif %}
			</td>
			<td>
				{% if char.trait is defined and char.trait is not empty %}Class:
					<em>{{ char.trait }}</em>
				{% endif %}
			</td>
		</tr>
		<tr>
			<td colspan="2">
				Abilities:
																				Str=
				<em>{{ char.abilities.str.score }}</em>
				Int=
				<em>{{ char.abilities.int.score }}</em>
				Wis=
				<em>{{ char.abilities.wis.score }}</em>
				Con=
				<em>{{ char.abilities.con.score }}</em>
				Dex=
				<em>{{ char.abilities.dex.score }}</em>
				Cha=
				<em>{{ char.abilities.cha.score }}</em>
			</td>
		</tr>
		{% if char.languagesOneLine is defined and char.languagesOneLine is not empty %}
			<tr>
				<td colspan="2">Languages:
					<em>{{ char.languagesOneLine }}</em>
				</td>
			</tr>
		{% endif %}
		<tr>
			<td colspan="2">Background:
				<em>{{ char.bond }}.
					{{ char.bg }}.</em>
			</td>
		</tr>
		<tr>
			<td>Hit Dice:
				<em>{{ char.HD }}</em>
			</td>
			<td>Hit Points:
				<em>{{ char.hp }}</em>
			</td>
		</tr>
		{% if char.AC is defined and char.AC is not empty %}
			<tr>
				<td colspan="2">
					Armor Class:
					{{ char.AC }}
				</td>
			</tr>
		{% endif %}
		<tr>
			<td colspan="3">
				Possessions:<br>
				{% for item in char.equipment %}
					&nbsp;&nbsp;&nbsp;{{ item }}<br>
				{% endfor %}
			</td>
		</tr>
	</table>

{% endblock %}
{% block condensed %}{% endblock %}

