{% extends 'generate/character.base.html.twig' %}
{% block title %}
	character generator
{% endblock %}
{% block stylesheets %}
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/normalize.css@8.0.0/normalize.min.css">
	<style>
		@font-face {
			font-family: 'League Spartan Variable';
			src: url("{{ asset('fonts/LeagueSpartanVariable-Medium.otf') }}") format("opentype");
		}
		body {
			margin: 1em auto;
			max-width: 35em;
			padding: 0 0.62em;
			font-family: 'League Spartan Variable', 'Futura', 'Spartan', 'Trebuchet MS', Arial, sans-serif;
			font-size: 1.2em;
		}
		em {
			text-decoration-line: underline;
			font-style: normal;
		}
		table {
			border-collapse: collapse;
			width: 80%;
			margin: 0 auto;
		}
	</style>
{% endblock %}
{% block full %}

	<table>
		<tr>
			<td>Name:
				{% if char.name != 'none' %}
					<em>{{ char.name }}</em>
				{% endif %}
			</td>
			<td colspan="2">
				{% if char.trait is defined and char.trait is not empty %}Class:
					<em>{{ char.trait }}</em>
				{% endif %}
			</td>
		</tr>
		<tr>
			<td>Strength:
				<em>{{ char.abilities.str.score }}</em>
			</td>
			<td>Intelligence:
				<em>{{ char.abilities.int.score }}</em>
			</td>
			<td>Wisdom:
				<em>{{ char.abilities.wis.score }}</em>
			</td>
		</tr>
		<tr>
			<td>Constitution:
				<em>{{ char.abilities.con.score }}</em>
			</td>
			<td>Dexterity:
				<em>{{ char.abilities.dex.score }}</em>
			</td>
			<td>Charisma:
				<em>{{ char.abilities.cha.score }}</em>
			</td>
		</tr>
		<tr>
			<td>Hit Dice:
				<em>{{ char.HD }}</em>
			</td>
			<td{% if char.AC is defined and char.AC is not empty %}{% else %} colspan="2" {% endif %}>Hit Points:
				<em>{{ char.hp }}</em>
			</td>
			{% if char.AC is defined and char.AC is not empty %}
				<td>
					AC:
					{{ char.AC }}
				</td>
			{% endif %}
		</tr>
		{% if char.languagesOneLine is defined and char.languagesOneLine is not empty %}
			<tr>
				<td colspan="3">Languages:
					{{ char.languagesOneLine }}
				</td>
			</tr>
		{% endif %}
		<tr>
			<td colspan="3">Background:
				<em>{{ char.bond }}.
					{{ char.bg }}.</em>
			</td>
		</tr>
		<tr>
			<td colspan="3">
				Equipment:<br>
				{% for item in char.equipment %}
					&nbsp;&nbsp;&nbsp;{{ item }}<br>
				{% endfor %}
			</td>
		</tr>
	</table>

{% endblock %}
{% block condensed %}{% endblock %}

