{% extends 'base.html.twig' %}
{% block title %}
	character generator
{% endblock %}
{% block body %}
	{% apply markdown_to_html %}{% include "generate/_character_menu.markdown.twig" %}{% endapply %}
	{% block full %}
		{% apply markdown_to_html %}{% include "generate/_full_character.markdown.twig" %}{% endapply %}
	{% endblock %}
	{% block condensed %}
		<p>Condensed:</p>
		{% apply markdown_to_html %}{% include "generate/_condensed_character.markdown.twig" %}{% endapply %}
	{% endblock %}
	{% block footer %}
		<hr>
		{% if char.note is defined and char.note is not empty %}
			<p>
				<strong>Note:</strong>
				{% for item in char.note %}
					<br>{{ item }}
				{% endfor %}
			</p>
			<hr>
		{% endif %}
		{% if char.license is defined and char.license is not empty %}
			{% apply markdown_to_html %}{{ char.license }}{% endapply %}
		{% endif %}
	{% endblock %}
{% endblock %}