{% extends 'base.html.twig' %}

{% block title %}Expeditions{% endblock %}

{% block body %}
<h1>Admin</h1>
<h2>Existing Expeditions</h2>
<table>
    <tr>
        <th rowspan=2>Expedition</th>
        <th rowspan=2>Real Date</th>
        <th colspan=3>XP</th>
        <th rowspan=2>Dungeon Level</th>
        <th rowspan=2>Avg. Party Level</th>
        <th rowspan=2></th>
    </tr>
    <tr>
        <th>Treasure</th>
        <th>Monster</th>
        <th>Other</th>
    </tr>
    {% for expedition in expeditions %}
        <tr>
            <td>{{ expedition.name }}</td>
            <td>{{ expedition.date|date('Y-m-d') }}</td>
            <td>{{ expedition.xpTreasure }}</td>
            <td>{{ expedition.xpMonster }}</td>
            <td>{{ expedition.xpOther }}</td>
            <td>{{ expedition.dungeonLevel }}</td>
            <td>{{ expedition.averagePartyLevel }}</td>
            <td><a href="?mode=edit&type=expedition&id={{ expedition.id }}">edit</a></td>
        </tr>
        <tr>
            <td colspan=8>
                {{ expedition.party.partyDisplay }}
            </td>
        </tr>
    {% endfor %}
</table>

<form action="" method="post">
    <h2>Create New Expedition</h2>
    <input id="action" name="action" type="hidden" value="admin">
    <label for="expedition[name]">Expedition Name:</label>
    <input type="text" name="expedition[name]" maxlength="50">
    <br><label for="expedition[date]">Game Date:</label>
    <input type="date" name="expedition[date]">
    <br><label for="expedition[xp_treasure]">XP from Treasure:</label>
    <input type="number" name="expedition[xp_treasure]" min=0 value=0>
    <br><label for="expedition[xp_monster]">XP from Monsters:</label>
    <input type="number" name="expedition[xp_monster]" min=0 value=0>
    <br><label for="expedition[xp_other]">XP from Other Source:</label>
    <input type="number" name="expedition[xp_other]" min=0 value=0>
    <br><label for="expedition[dungeon_level]">Dungeon Level:</label>
    <input type="number" name="expedition[dungeon_level]" min=0 value=1>
    <br><label for="expedition[primary]">Party:</label>
    <br><select name="expedition[primary][]" multiple>
        <?php foreach ($pcs as $pc) {
            echo '<option value="' . $pc['id'] . '">' . $pc['name'] . '</option>';
        } ?>
    </select>
    <br><label for="expedition[retainer]">Retainers:</label>
    <br><select name="expedition[retainer][]" multiple>
        <?php foreach ($pcs as $pc) {
            echo '<option value="' . $pc['id'] . '">' . $pc['name'] . '</option>';
        } ?>
    </select>
    <br><input type="submit" value="Create expedition!">
</form>

<h2>Create New Character</h2>
<form action="" method="post">
    <input id="action" name="action" type="hidden" value="admin">
    <label for="char[name]">Character Name:</label>
    <input type="text" name="char[name]">
    <br><input type="submit" value="Create character!">
</form>

<h2>Edit Characters</h2>
<p><a href="?mode=export&type=pcs">export</a></p>
<table>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Title</th>
        <th>Class/Level</th>
        <th>Total XP</th>
        <th>XP for Next Level</th>
        <th>XP Mod</th>
        <th></th>
    </tr>
    <?php foreach ($pcs as $pc) { ?>
        <tr>
            <td><?= $pc['id'] ?></td>
            <td><?= $pc['name'] ?></td>
            <td><?= $pc['display']['title'] ?></td>
            <td><?= $pc['display']['class'] ?></td>
            <td><?= $pc['display']['xp_total'] ?></td>
            <td><?= $pc['display']['next_level'] ?></td>
            <td><?= $pc['display']['xp_mod'] ?></td>
            <td><a href="?mode=edit&type=pcs&id=<?= $pc['id'] ?>">edit</a></td>
        </tr>
    <?php } ?>
</table>
{% endblock %}
